literature_review/paper.aux
literature_review/paper.bbl
literature_review/paper.blg
literature_review/paper.log
literature_review/paper.out
literature_review/paper.synctex.gz
literature_review/paper.pdf
