literature_review/paper.aux
literature_review/paper.bbl
literature_review/paper.blg
literature_review/paper.log
literature_review/paper.out
literature_review/paper.synctex.gz
literature_review/paper.pdf

annotated_bibliography/main.aux
annotated_bibliography/main.bbl
annotated_bibliography/main.blg
annotated_bibliography/main.log
annotated_bibliography/main.out
annotated_bibliography/main.synctex.gz
annotated_bibliography/main.pdf
